{
  "./functions/**/*.ts": ["prettier --write", "git add"],
  "webpack.config.js": ["prettier --write", "git add"],
  "package.json": ["prettier --write", "git add"],
  "*.md": ["prettier --write", "git add"]
}
